body {
  padding: 0;
  background-image: url(/images/sayagata-400px-pattern.png);
}
header,
nav,
main,
footer {
  max-width: 75rem;
  margin: 0 auto;
}

div#wrapper {
  max-width: 75rem;
  margin: 0 auto;
  box-shadow: 0 0 10px #000;
  //background-color: #fff;
}

header {
  padding: $gutter 0 0 0;
}

//nav {} // end nav

main {
  section#display div {
    max-width: 250px;
  }
  
} // end main
