main {
  section.theSections {
    max-width: 55rem;
  }
  div.subDiv {
    display: flex;
    margin: 0 auto;
    padding: 8px $gutter;

    p {
      max-width: 80%;
    }
    figure {
      margin: 0 auto;
      width: 100%;
      img {
        width: 100%;
      }
    }
    figure.enSmallen {
      max-width: 200%;
    }
  }
}
